.topBar{
    background-image: url('FundoParallax.PNG');
    background-size: cover;
    background-position: center;
    height: 200px;
    max-width: 2000px;
    
    min-width: 250px;
    
    display: flex;
    justify-content: center;   
    align-items: center;      
}

.sectionTitle{
    text-align: center;
}

.container{
  padding: 50px 150px;
  max-width: 1850px;
  text-align: center;
}

.project{
    margin-bottom: 100px;
}

.backButton{
    position: absolute;
    left: 15%;
    text-decoration: none;
    color: white;
    background-color: #bd0c06;
    border: 3px solid transparent;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 5px 15px;
    text-align: left;
    transition: border-color 0.25s;
}

.backButton:hover{
    border-color: #700703;
}

section{
    border-bottom: 1px solid #222622;
    padding-bottom: 50px;
}

.projectContent{
    display: flex;
}

.projectInfo{
    text-align: justify;
    width: 50%;
    min-width: 400px;
    max-width: 600px;
}

.projectTitle{
    font-size: 40px;
    border-bottom: 2px solid #F28749;
    width: 40%;
    margin: 0 auto;
    margin-bottom: 50px;
}

.links{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.socialImg{
    height: 60px;
}

.linkItch{
    text-decoration: none;
    color: #FFF;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 1em 3.5em;
    font-size: 1.1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #ffb000;
    cursor: pointer;
    transition: border-color 0.25s; /*Tempo para aparecer a borda no hover*/
}

.linkItch:hover {
    border-color: #b27b00;
  }

@media screen and (max-width: 800px){

    .backButton{
        position: relative;
        left: auto;
        top: auto;
        display: block;
        width: max-content;
        margin: 20px auto; 
        text-align: center;    
    }

    .project{
        width: auto;
        padding-top: 20px;
        margin-bottom: 20px;
        border-top: 1px solid #657A8C; 
    }

    .projectTitle{
        font-size: 20px;
    }

    .projectInfo{
        min-width: 300px;
    }

    .container{
        min-width: 200px;
        align-self: center;
        margin: 0 auto;
        padding: 0;
    }

    .projectContent{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    p{
        font-size: 12px;
    }

    ul{
        font-size: 12px;
    }

    .caption{
        display: none;
    }

}