.header{
    background-image: url('/2304x1296.png');
    background-size: cover;
    height: 100vh;    
    background-position: center;
    background-attachment: fixed;

    padding: 80px 10%;
    max-width: 1800px;
    min-width: 400px;
}

@media screen and (max-width: 800px) {
    .header{
        text-align: center;
        background-attachment: scroll;
        height: auto;
    }
}

