.title{
    text-align: left;
}

.project{
    margin: 50px 0;
    text-align: left;
}

.projectContent{
    display: flex;
    flex-wrap: wrap; /* para quebrar em telas pequenas */
}

.projectInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.2em;
    flex: 1;
    min-width: 300px;
}

.projectTitle{
    font-size: 1.8em;
    font-weight: 500;
}

.moreInfo{
    text-decoration: none;
    color: #FFF;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 1em 3.5em;
    font-size: 1.1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #222622;
    cursor: pointer;
    transition: border-color 0.25s; /*Tempo para aparecer a borda no hover*/
    width: 300px;
}

img{
    width: 100%;
    justify-content: center;
}

figcaption{
    text-align: center;
}

.allProjects{
    text-decoration: none;
    color: #FFF;
    width: 300px;
    height: 75px;
    border: 3px solid transparent;
    border-radius: 8px;
    font-size: 1.4em;
    font-weight: bold;
    background-color: #8C7069;
    padding: .5em 3.5em;
    font-family: inherit;
    transition: border-color 0.25s; /*Tempo para aparecer a borda no hover*/
}

.allProjects:hover{
    border-color: #F28749;
}

@media screen and (max-width: 800px) {
    .project{
        text-align: center;
    }
    .moreInfo{
        text-align: center;
        width: 150px;
        height: auto;
        padding: 5px 30px;
    }

    .projectTitle{
        font-size: 1.3em;
        font-weight: 500;
        margin: 4px
    }

    .title{
        text-align: ce;
    }

    ul{
        list-style: none;
        padding: 0;
        font-size: 15px;
    }

    p{
        font-size: 15px;
        padding: 0px 10px;
        text-align: justify;
    }

    .allProjects{
        display: inline-block;
        font-weight: 500;
        width: 150px;
        height: 35px;
        padding: 5px 10px;
        margin-bottom: 20px;
    }
}